// css3 animations

.center,
.logo,
.description,
#loading,
body a {
    transition: all 600ms cubic-bezier(0.19, 1, 0.22, 1);
}

// clear css3 animations

.off {
    transition: none;
}

// basic configuration

a,
input,
select,
textarea,
button {
    outline: 0 none;
}

* {
    box-sizing: border-box;
    user-select: none;
}

header,
.main,
footer {
    float: left;
    width: 100%;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    background: #fff;
    overflow-x: hidden;
    overflow-y: scroll;
}

// custom colors

$white: #ffffff;
$background: #15191d;
$accent: #4b538b;
$accent2: #7ec8b9;
$light: #c9d1d3;

// custom

::-moz-selection {
    background: $accent;
    color: $light;
}

::selection {
    background: $accent;
    color: $light;
}

body {
    background: $background;
    color: $light;
    font-family: 'Inconsolata', monospace;
    font-size: 14px;
    cursor: default;

    a {
        color: $accent;
        text-decoration: none;

        &:hover {
            color: $accent2;
        }
    }
}

.title {
    font-family: 'Times New Roman';
}

// loading

#loading {
    background: $background;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1000000000;
    opacity: 0;
    pointer-events: none;

    &.active {
        opacity: 1;
        pointer-events: all;
    }

    .loading-activity {
        display: block;
        position: fixed;
        z-index: 2000;
        top: 50%;
        left: 50%;
        width: 220px;
        height: 20px;
        margin-top: -10px;
        margin-left: -110px;
        background: url(../img/zigzag.png) 0 center;
        -webkit-animation: zigzag 100ms linear infinite;
        animation: zigzag 100ms linear infinite;
    }
}

// header

header {
    position: fixed;
    z-index: 4;
    top: 0;

    .logo {
        font-size: 73px;
        line-height: 73px;
        letter-spacing: -4px;
        font-weight: normal;
        font-style: italic;
        margin: 100px 0 0 0;

        a {
            pointer-events: none;
        }
    }

    sup {
        position: relative;
        top: -17px;
        font-size: 14px;
        line-height: 14px;
        letter-spacing: 0;
        color: $accent2;
    }
}

// main

.main {
    .row {
        float: left;
        width: 100%;
        height: 100%;
        position: relative;
        overflow: hidden;

        .tile {
            float: left;
            width: 100%;
            overflow: hidden;
        }

        &#home {
            position: fixed;
            z-index: 2;
            pointer-events: none;
        }

        &#content {
            z-index: 3;
        }
    }

    // title

    h2 {
        font-size: 73px;
        line-height: 73px;
        letter-spacing: -4px;
        font-weight: normal;
        font-style: italic;
        margin-bottom: 0;

        a {
            color: $light;
        }
    }
}

.special {
    margin-top: 100px;
    padding: 10px 73px 10px 10px;
    display: inline-block;
    background: url(../img/zigzag.png) 0 center;

    &:hover {
        -webkit-animation: zigzag 100ms linear infinite;
        animation: zigzag 100ms linear infinite;
    }

    a {
        color: $accent2;

        &:hover {
            color: $white;
        }
    }
}

// projects

.projects {
    float: right;
    margin: 0;
    padding: 0;
    list-style-type: none;

    li {
        float: left;
        width: 100%;
        text-align: right;

        a {
            &:hover {
                color: $white;
            }
        }

        p {
            display: none;
        }
    }
}

// footer

footer {
    float: left;
    width: 100%;
    position: relative;
    overflow: hidden;
}

// progress

.progress-container {
    width: 100%;
    background-color: transparent;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    display: block;
    z-index: 1;
    pointer-events: none;

    .progress-bar {
        background-color: lighten($background, 2%);
        width: 0%;
        display: block;
        height: 100%;
    }
}

// glitch

.glitch {
    -webkit-animation: glitch 150ms linear;
    animation: glitch 150ms linear;
}

// zigzag keyframe animation

@-webkit-keyframes zigzag {
  0% {background-position: 0 center;}
  100% {background-position: 7px center;}
}

@keyframes zigzag {
  0% {background-position: 0 center;}
  100% {background-position: 7px center;}
}

// glitch keyframe animation

@keyframes glitch {
    0% {transform: translate(2px, 1px) rotate(0deg);}
    10% {transform: translate(-1px, -2px) rotate(-1deg);}
    20% {transform: translate(-3px, 0px) rotate(1deg);}
    30% {transform: translate(0px, 2px) rotate(0deg);}
    40% {transform: translate(1px, -1px) rotate(1deg);}
    50% {transform: translate(-1px, 2px) rotate(-1deg);}
    60% {transform: translate(-3px, 1px) rotate(0deg);}
    70% {transform: translate(2px, 1px) rotate(-1deg);}
    80% {transform: translate(-1px, -1px) rotate(1deg);}
    90% {transform: translate(2px, 2px) rotate(0deg);}
    100% {transform: translate(1px, -2px) rotate(-1deg);}
}

@-webkit-keyframes glitch {
    0% {-webkit-transform: translate(2px, 1px) rotate(0deg);}
    10% {-webkit-transform: translate(-1px, -2px) rotate(-1deg);}
    20% {-webkit-transform: translate(-3px, 0px) rotate(1deg);}
    30% {-webkit-transform: translate(0px, 2px) rotate(0deg);}
    40% {-webkit-transform: translate(1px, -1px) rotate(1deg);}
    50% {-webkit-transform: translate(-1px, 2px) rotate(-1deg);}
    60% {-webkit-transform: translate(-3px, 1px) rotate(0deg);}
    70% {-webkit-transform: translate(2px, 1px) rotate(-1deg);}
    80% {-webkit-transform: translate(-1px, -1px) rotate(1deg);}
    90% {-webkit-transform: translate(2px, 2px) rotate(0deg);}
    100% {-webkit-transform: translate(1px, -2px) rotate(-1deg);}
}

// imports

@import 'grid.scss';
@import 'print.scss';