// css3 animations

.center,
.logo,
.description {
    transition: all 600ms cubic-bezier(0.19, 1, 0.22, 1);
}

// clear css3 animations

.off {
    transition: none;
}

// basic configuration

a,
input,
select,
textarea,
button {
    outline: 0 none;
}

* {
    box-sizing: border-box;
}

header,
.main,
footer {
    float: left;
    width: 100%;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    background: #fff;
    overflow-x: hidden;
    overflow-y: scroll;
}

// custom colors

$background: #15191d;
$accent: #4b538b;
$accent2: #7ec8b9;
$light: #c9d1d3;

// custom

::-moz-selection {
    background: $accent;
    color: $light;
}

::selection {
    background: $accent;
    color: $light;
}

body {
    background: $background;
    color: $light;
    font-family: 'Inconsolata', monospace;
    font-size: 14px;

    a {
        color: $accent;
        text-decoration: none;

        &:hover {
            color: $accent2;
        }
    }
}

// header

header {
    position: fixed;
    z-index: 2;
    top: 0;

    .logo {
        font-size: 73px;
        line-height: 73px;
        letter-spacing: -4px;
        font-weight: normal;
        font-style: italic;
        margin-bottom: 0;
    }
}

// main

.main {
    .row {
        float: left;
        width: 100%;
        height: 100%;
        position: relative;
        overflow: hidden;

        .tile {
            float: left;
            width: 100%;
            background: $background;
            background: lighten($background, 3%);
            overflow: hidden;
        }

        &#home {
            position: fixed;
        }
    }

    h2 {
        font-size: 73px;
        line-height: 73px;
        letter-spacing: -4px;
        font-weight: normal;
        font-style: italic;
        margin-bottom: 0;
        background: url(../img/zigzag.png) 0 center;

        a {
            color: $background;
        }

        &:hover {
            -webkit-animation: zigzag 100ms linear infinite;
            animation: zigzag 100ms linear infinite;
        }
    }
}

// footer

footer {
    float: left;
    width: 100%;
    position: relative;
    background: lighten($background, 5%);
    overflow: hidden;
}

// progress

progress {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    width: 100%;
    height: .25em;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    background-color: transparent;
    color: $accent2;

    &::-webkit-progress-bar {
        background-color: transparent;
    }

    &::-webkit-progress-value {
        background-color: $accent2;
    }

    &::-moz-progress-bar {
        background-color: $accent2;
    }
}

.progress-container {
    width: 100%;
    background-color: transparent;
    position: fixed;
    top: 0;
    left: 0;
    height: .25em;
    display: block;
}

.progress-bar {
    background-color: #F7A21B;
    width: 50%;
    display: block;
    height: inherit;
}

@-webkit-keyframes zigzag {
  0%   {background-position: 0 center;}
  100% {background-position: 7px center;}
}

@keyframes zigzag {
  0%   {background-position: 0 center;}
  100% {background-position: 7px center;}
}

// imports

@import 'grid.scss';
@import 'print.scss';